{# templates/extends/header.html.twig #}
{% block header %}
    <header id="navbar-wrapper">
        <ul id="navbar">
            <li class="navbarLink"><a href="#subscription">Abonnement</a></li>
            <li class="navbarLink"><a href="#services">Services</a></li>
            <li class="navbarLink"><a href="{{ url('register') }}">S'inscrire</a></li>
            <li class="navbarLink"><a href="{{ url('login') }}">Se connecter</a></li>
        </ul>
    </header>
{% endblock %}