<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Even'Annecy - {% endblock %}</title>
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}"/>            
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <header id="navbar-wrapper">
        {{ render(controller('App\\Controller\\UtilsController::menu')) }}
    </header>

    {% block body %}{% endblock %}

    <script src="{{asset('assets/scripts/script.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% block signJS %}{% endblock %}
</body>
</html>